In [67]:
import pandas as pd

In [68]:
df = pd.read_excel('datos_idm.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   empresa               1132 non-null   object
 1   requisitor            985 non-null    object
 2   po                    1115 non-null   object
 3   fecha_de_po           863 non-null    datetime64[ns]
 4   num_cot               996 non-null    object
 5   cantidad              1125 non-null   float64
 6   descripción           1133 non-null   object
 7   factura               384 non-null    object
 8   fecha_de_facturación  380 non-null    datetime64[ns]
 9   p_unit_dll            722 non-null    float64
 10  p_unit_pesos          408 non-null    float64
 11  sub_total_dll         896 non-null    float64
 12  sub_total_pesos       1460 non-null   float64
 13  total_iva_dll         227 non-null    float64
 14  total_iva_pesos       187 non-null    float64
dtypes: datetime64[ns](2), float64(7), object(6)
memory usage: 199.3+ KB

In [69]:
df['tiempo_de_proceso'] = df['fecha_de_facturación'] - df['fecha_de_po']

In [70]:
df['tiempo_de_proceso'].head(10)

0     0 days
1     6 days
2    23 days
3   120 days
4    29 days
5    29 days
6    17 days
7    40 days
8    11 days
9     0 days
Name: tiempo_de_proceso, dtype: timedelta64[ns]

In [71]:
df['tiempo_de_proceso'].sort_values(ascending=False)

246    1129 days
90      342 days
169     123 days
3       120 days
348      98 days
          ...
1695         NaT
1696         NaT
1697         NaT
1698         NaT
1699         NaT
Name: tiempo_de_proceso, Length: 1700, dtype: timedelta64[ns]

In [72]:
df['tiempo_de_proceso'].describe()

count                           379
mean     25 days 03:55:34.036939314
std      67 days 08:55:18.754967609
min             -353 days +00:00:00
25%                10 days 00:00:00
50%                20 days 00:00:00
75%                31 days 00:00:00
max              1129 days 00:00:00
Name: tiempo_de_proceso, dtype: object

In [73]:
tiempo_de_proceso = df[['tiempo_de_proceso', 'descripción']].sort_values(by='tiempo_de_proceso', ascending=False)

In [74]:
print(tiempo_de_proceso)

     tiempo_de_proceso                                        descripción
246          1129 days                                 Dado  TM-012854-01
90            342 days   Retrabajo de Cavidades de fixtura Nest #19TM0...
169           123 days  Fixtura de Sujeción de Válvula para limpieza d...
3             120 days                 Tip Attach tubing Flaring TS114580
348            98 days                             Fixture RSW 19TM09MK00
...                ...                                                ...
1695               NaT                                                NaN
1696               NaT                                                NaN
1697               NaT                                                NaN
1698               NaT                                                NaN
1699               NaT                                       rectificador

[1700 rows x 2 columns]

In [75]:
df[df['tiempo_de_proceso'] == '-353 days']

,empresa,requisitor,po,fecha_de_po,num_cot,cantidad,descripción,factura,fecha_de_facturación,p_unit_dll,p_unit_pesos,sub_total_dll,sub_total_pesos,total_iva_dll,total_iva_pesos,tiempo_de_proceso
74,Caliente,Marlen Sarabia,4023,2024-02-20,4023,2.0,Soporte de pared Tabloide ( 2 Sets ),94,2023-03-04,NaN,1310.0,NaN,2620.0,NaN,2829.6,-353 days